.card__paragraph{
    width: 84%;
    text-align: center;
    margin: 16px auto 0;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

.card__paragraph:nth-of-type(2n){
    margin: 0 auto 16px;
}